layout: archive title: "Publications" permalink: /publications/ author_profile: true
{% if site.author.googlescholar %}

<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

Scientific Reviews
<hr />

<h3>Dark Energy and Modified Gravity: A Review of Cosmological Models and Observational Probes</h3>
<p><i>A scientific review completed during a summer internship at the University of Ioannina, supervised by Prof. Leandros Perivolaropoulos (Summer 2025).</i></p>
<p><a href="/files/review.pdf" class="btn btn--research">Download PDF</a></p>

<!-- This section below will automatically list any other publications you add to the _publications folder -->

{% if site.publication_category %}
{% for category in site.publication_category  %}
{% assign title_shown = false %}
{% for post in site.publications reversed %}
{% if post.category != category[0] %}
{% continue %}
{% endif %}
{% unless title_shown %}
<h2>{{ category[1].title }}</h2><hr />
{% assign title_shown = true %}
{% endunless %}
{% include archive-single.html %}
{% endfor %}
{% endfor %}
{% else %}
{% for post in site.publications reversed %}
{% include archive-single.html %}
{% endfor %}
{% endif %}

