---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign publications_by_category = site.publications | group_by: "category" | reverse %}

{% for group in publications_by_category %}
  {% capture group_name %}{{ group.name }}{% endcapture %}
  {% if group_name == "reviews" %}
    <h2 id="{{ group_name | slugify }}" class="archive__subtitle">Reviews</h2>
  {% elsif group_name == "manuscripts" %}
    <h2 id="{{ group_name | slugify }}" class="archive__subtitle">Manuscripts</h2>
  {% else %}
    <h2 id="{{ group_name | slugify }}" class="archive__subtitle">{{ group_name }}</h2>
  {% endif %}

  {% for post in group.items %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
